/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #9400d3;
  --secondary-color: #faa6ff;
  --tertiary-color: #7353ba;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}
.card {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  word-wrap: break-word;
}
